@font-face {
    font-family: Ginebra;
    src: url(ginebra_font.ttf);
}
@font-face {
    font-family: Indie;
    src: url(IndieFlower-Regular.ttf);
}
body {
    background-color: rgb(247,165,121);
}
/*acá podría ir rgb(149,103,224)*/
a {
    text-decoration: none;
}
#comienzo {
    width: 200px;
    height: 27px;
    border-style: double;
    border-color: rgb(62,180,137);
    border-width: 4px;
    margin-top: 50px;
    margin-left: 30px;
    float: left;
}
#volvernaveg {
    float: left;
    width: 200px;
    height: 27px;
    border-style: double;
    border-color: rgb(62,180,137);
    border-width: 4px;
    margin-top: 50px;
    margin-left: 30px;
}
#font1 {
    font-family: "ginebra";
}
li {
    text-decoration: none;
}
.links {
    margin-top: none;
    font-size: 24px;
    color: rebeccapurple;
    font-style: italic;
    font-family: "Indie";}

h1 {
    color: rebeccapurple;
    font-style: italic;
    font-family: "Ginebra";
}
h2 {
    color: rebeccapurple;
    font-style: italic;
    font-family: "Ginebra";
}
p {
    font-style: italic;
    font-family: "Indie";
}
#general {
    border-style: double;
    border-color: rgb(62,180,137);
    border-width: 4px;
    margin: auto;
    background-color: none;
    width: 1250px;
    height: 6200px;
}
#titulo {
    margin-top: 10px;
    width: 1250px;
    height: 50px;
    background-color: none;
}
.fotofoto {
    margin-top: 50px;
    margin-left: 325px;
    width: 600px;
    height: auto;
    border-style: double;
    border-color: rgb(62,180,137);
    border-width: 4px;
}
.estilofotos {
    width: 450px;
    height: 600px;
    margin-top: 10px;
    margin-left: 75px
}
.video {
    width: 450px;
    height: 450px;
    margin-top: 10px;
    margin-left: 75px
}
.video2 {
    width: 450px;
    height: 600px;
    margin-top: 10px;
    margin-left: 75px
}